<div class="bild">hej</div>
<div class="kat"></div>
<div class="kat"></div>
<div class="kat"></div>
<div class="kat"></div>
<div class="kat"></div>
<div class="kat"></div>
<div class="secret"></div>
<div class="secret"></div>
<div class="secret"></div>