<div class="first">
    <div class="bild"></div>
    <div class="kat"></div>
    <div class="kat"></div>
    <div class="kat"></div>
    <div class="kat"></div>
    <div class="kat"></div>
    <div class="kat"></div>
    <div class="secret" id="one"><div class="nyhet"><h3>REA</h3></div></div>
    <div class="secret" id="two"><div class="nyhet"><h3>NYHET!</h3></div></div>
    <div class="secret" id="three"><div class="nyhet"><h3>REA</h3></div></div>
</div>