<div class="category">
    <div class="fakta"></div>
    <div class="cat"><div class="rubrik">Gåtor</div></div>
    <div class="cat"><div class="rubrik">Dad Jokes</div></div>
    <div class="cat"><div class="rubrik">Matte</div></div>
    <div class="cat"><div class="rubrik">Star Wars</div></div>
    <div class="cat"><div class="rubrik">Blondin</div></div>
    <div class="cat"><div class="rubrik">Alla Barnen</div></div>
</div>
