<div class="category">
    <div class="fakta">Varje kategori innehåller ett demo-skämt som ett slags smakprov på vad du kan förvänta dig om du köper av oss.</div>
    <div class="cat" id="cat1"><div class="rubrik"><a href="riddle.html"> Gåtor</a></div></div>
    <div class="cat"id="cat2"><div class="rubrik"><a href="pappa.html"> Dad Jokes</a></div></div>
    <div class="cat"id="cat3"><div class="rubrik"><a href="matte.html"> Matte</a></div></div>
    <div class="cat"id="cat4"><div class="rubrik"><a href="Star_wars.html"> Star Wars</a></div></div>
    <div class="cat"id="cat5"><div class="rubrik"><a href="blondin.html"> Norge</a></div></div>
    <div class="cat"id="cat6"><div class="rubrik"><a href="alla_barnen.html"> Alla Barnen</a></div></div>
</div>
