<div class="kund">
    <div class="titel"><h2> Din kundvagn</h2></div>
    <div class="vara"><div class="pro"> 1 Dad Joke</div> <div class="kostnad">5kr</div> </div>
    <div class="vara"><div class="pro"> 2 Matte</div> <div class="kostnad">20kr</div></div>
    <div class="vara"><div class="pro"> 1 Gåtor</div> <div class="kostnad">15kr</div></div>
    <div class="vara"><div class="pro"> 1 Alla Barnen</div> <div class="kostnad">35kr</div></div>
    <div class="last">
        <div class="saldo"> <div class="text"><i>Saldo: 75kr</i></div></div>
        <div class="done"> <div class="text"><i>Slutför</i></div></div>
    </div>
</div>