<div class="jokep">
    <div class="joke"><p> Kan man ta roten ur en negativt tal? <br> Ja, men man får ta <b>i</b> lite.</p></div>
    <div class="produkt"><p>?</p><div class="info">5kr</div></div>
    <div class="produkt"><p>?</p><div class="info">10kr</div></div>
    <div class="produkt"><p>?</p><div class="info">15kr</div></div>
    <div class="produkt"><p>?</p><div class="info">20kr</div></div>
    <div class="produkt"><p>?</p><div class="info">35kr</div></div>
    <div class="produkt"><p>?</p><div class="info">55kr</div></div>
</div>