<div class="jokep">
    <div class="joke"></div>
    <div class="produkt">?<div class="info"></div></div>
    <div class="produkt">?<div class="info"></div></div>
    <div class="produkt">?<div class="info"></div></div>
    <div class="produkt">?<div class="info"></div></div>
    <div class="produkt">?<div class="info"></div></div>
    <div class="produkt">?<div class="info"></div></div>
</div>