<div class="jokep">
    <div class="joke">Why did Star Wars episodes 4, 5, and 6 come out before 1, 2, and 3? <br>In charge of the release dates, Yoda was.</div>
    <div class="produkt"><div class="nyhet" id="nyhet"><h3>REA</h3></div><p>?</p><div class="info"><mark class="grey"><strike>5kr</strike></mark> 3kr</div></div>
    <div class="produkt"><p>?</p><div class="info">10kr</div></div>
    <div class="produkt"><div class="nyhet" id="nyhet"><h3>REA</h3></div><p>?</p><div class="info"><mark class="grey"><strike>15kr</strike></mark> 11:99kr</div></div>
    <div class="produkt"><p>?</p><div class="info">20kr</div></div>
    <div class="produkt"><p>?</p><div class="info">35kr</div></div>
    <div class="produkt"><p>?</p><div class="info">55kr</div></div>
</div>